body{
    background-image: url("https://images.pexels.com/photos/4164843/pexels-photo-4164843.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}

.homediv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color:rgb(255, 255, 255);
    font-size: 100px;
    text-shadow: 2px 2px 2px #000000;
    font-family: 'Suez One', serif;
    font-style: italic;
    text-decoration: overline underline;

}